.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.Main_class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.search_input {
  margin-bottom: 20px;
}

.table-row th,
td {
  border: 1px solid black;
}

.button_manage {
  margin-top: 20px;
  padding: 10px;
}
.main_div {
  width: 50%;
  margin-left: 25%;
}
.label {
  display: grid;
  border: 1px solid black;
  width: 50%;
}
.checkbox_label {
  display: flex;
  margin-left: 30%;
  margin-bottom: 15px;
}
.label_title {
  color: green;
}
.Description_input {
  margin-bottom: 10px;
  width: 50%;
}
.button_neworder {
  padding: 10px;
}

.action_icon{
  height:15px;
  width:15px;
  cursor: pointer;
  padding: 5px;
 }

 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

